.contact {

	&__item {
		width: 100%;
		padding-top: 1rem;

		a {
			color: $color-font-body;
			transition: all ease .3s; 

			&:hover {
				color: $green;
			}
		}
	}

	&__info {
		margin-top: 0;
	}

	&__form {

	}
}