/********************PAGE********************/

/*
 * This file should house all of the styles for any
 * page template, i.e. page.php or page-{rename}.php.
 */

.page {

	&__hero {
		position: relative;
		@include overlay();
		background: no-repeat center center;
		background-size: cover;

		@include above (sm) {
			background-attachment: fixed;
		}
	}
  
	&__title {
		margin-top: 0;
		margin-bottom: 0;
		position: relative;
		z-index: 100;
		padding-bottom: 1rem;

		@include below (sm) {
			font-size: 32px;
		}
	}  
}
