/********************SINGLE********************/

/*
 * This file should house all of the styles for any
 * single template, i.e. single.php or
 * single-{rename}.php.
 */

 .single {

 	&__cat {
 		margin-top: 0;
 		font-size: 14px;

 		span {
 			color: $green;
 		}
 	}
 }