.slider {
	position: relative;

	&__list {

	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background: no-repeat center center;
		background-size: cover;
		color: $white;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 40%;

			@include above (sm) {
				padding-bottom: 50rem;
			}
		}

		&:after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($blue, .6);
		}
	}

	&__container {
		position: relative;
		z-index: 1;
	}

	&__title {
		margin-top: 0;

		span {
			color: $green;
		}
	}

	&__text {

		@include below (sm) {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
	}
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav,
	.owl-dots {

		@include below (sm) {
			display: none;
		}

		&.disabled {
			display: none;
		}
	}

	.owl-nav {
		@extend .wrap, .hpad;
		transform: translateY(-250px);
	}

	.owl-dots {
		position: absolute;
		right: 0;
		top: 50%;
		counter-reset: dots;
	}

	.owl-prev,
	.owl-next {
		border: 2px solid $green;
		display: inline-block;
		color: $white;
		border-radius: 50%;
		padding: .3rem .8rem;
		transition: all ease .3s;

		&:hover {
			background: $green;
		}
	}

	.owl-next {
		margin-left: 3rem;
	}

	.owl-dot {
		width: calc(3rem - 1rem);
		height: 3px;
		background: #0b3048;
		margin-bottom: 20px;
		position: relative;
		transition: all ease .3s;

		&:before {
			counter-increment:dots;
    		content: '0' counter(dots);
    		color: $white;
    		font-weight: 700;
    		position: absolute;
    		left: -1.8rem;
    		top: -.7rem;
		}

		&.active {
			width: 3rem!important;
			background: $green;
		}
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}

	&--references {

		// Navigation
		.owl-nav,
		.owl-dots {
			display: none;
		}
	}
}