.text-img {

	&.cover {
		position: relative;

		@include below (sm) {
			padding-bottom: 0!important;
		}

		.text-img__img {
			@include above (sm) {
				position: absolute;
				bottom: 0;
			}
		}
	}

	&__row {
		
	}

	&__text {
		h1, h2, 
		h3, h4, 
		h5, h6 {
			margin-top: 0;
		}
	}

	&__img {
		min-height: 28rem;
		background: no-repeat center center;
		background-size: contain;

		@include below (sm) {
			width: 100%;
			margin-top: 1.5rem;
			min-height: 20rem;
		}
	}
}