.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background: $green;
	bottom: 0;
	left: 0;
	z-index: 1;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&.animated {
		height: 0;
	}
}


[data-aos="cubic-out"] {
	

	&.aos-animate {
		height: 0;
	}
}